.drinkImgDetails{
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.drinkImg{
    border-radius: 50%;
    width: 47%;
    height: 47%;
}
.drinksDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.drinkDetails{
    background: #111;
    border: 1.5px solid rgb(0, 0, 0);
    color: black;
    box-shadow: 3px 3px 0px rgb(0, 0, 0);
    border-radius: 8px;
    padding: 0.5rem;
    margin: 0.7rem;
}

.mainContainerDetails {
    display: flex;
    color: white;
    margin-left: 18%;
    margin-right: 18%;
}

.drinkTypeTitle{
    font-family: 'Courgette', cursive;
    text-align: center;
    color: white;
}

.toolsList{
    font-size: large;
    margin: 10px;
    padding-top: 2rem;
}

.mainDesc{
    color: white;
    margin-left: 18%;
    margin-right: 18%;
}